@font-face {
  font-family: "press start";
  src: url(/fontes/PressStart2P-Regular.ttf);
}
*{
font-family: "press start";
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(60, 57, 67);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}



.btn-menu {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(blue 0%, red);
  /* Cor de fundo do botão - Pode ser alterada */
  color: aquamarine;
  /* Cor do texto do botão - Pode ser alterada */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  /* Bordas arredondadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra suave */
  transition: 0.7s;
}

.btn-menu:hover{
  box-shadow: 0px 0px 10px rgb(42, 250, 0);
  scale: 1.2;
  transition: 0.5s;
}

.container-nome {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#nome{
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: aquamarine;
  padding: 10px;
}

#erroNome{
  color: red;
  display: none;
  margin-bottom: 15px;
}

#titulo-menu{
  font-size: 45px;
  color: rgb(0, 255, 0);
  text-shadow: 7px 8px black;
}

.container-pergunta{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#errado1, #errado2, #errado3{
  color: red;
  height: 30px;
  width: 30px;
  display: none;
}

#certo1, #certo2, #certo3{
  transition: 1s;
  color: greenyellow;
  height: 30px;
  width: 30px;
  display: none;
}

.btn{
  cursor: pointer;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  border: none;
}

.btn:hover{
  background:  linear-gradient(to bottom, #0056b3, #007bff);
  color:#fff;
  border: none;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.4);
}

.progresso{
  position: fixed;
  top: 1vw;
  left: 1vw;
  display: none;
}

.progresso ul{
  list-style: none;
  color: white;
}